.btn-primary,
.btn-danger,
.btn{  
  border:none!important;
  background-color: rgb(36, 36, 128)!important;
  min-width: 100px;
  max-width: 100px;

  padding-bottom: 1rem;
  justify-content: space-around;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
}
#classe{
    background-color: rgb(253, 253, 253)!important;
    margin: 5rem;
  
  }
  label{
    font-weight: 500!important;
    color: rgb(62, 62, 158);
  }
  h2{
    font-weight: 620!important;
    color: rgb(36, 36, 128);
  }
th{
    border: none!important;
    border: 1px solid #000;
}
